  * {margin: 0; padding: 0;}
  body {background: #f3e5f5;}
  #wrap {width: 1200px; margin: 0 auto;}
  header img {width: 100%; height: 150px; background: #9575cd;}
  aside {float: left; width: 30%; height: 700px; background: #82b1ff;}
  section {float: left; width: 70%; height: 700px; background: #42a5f5;}
  footer {clear: both; width: 100%; height: 150px; background: #b2ff59;}
  a {font-size: auto; line-height: auto; padding: 15px; display: grid; margin-top: 20px; text-decoration: none;
     color: black;}
  section img {margin-left:5px; margin-top: 5px; width: 190px; height: 225px; display: inline-block;}
  #information {font-size: 2vh; color: black; display: block; margin-left: 10px; margin-top: 20px;}
  /* 화면 너비 0 ~ 1200px */
  @media (min-width: 1060px) and (max-width: 1280px){
   #wrap {width: 95%;}
   section img {width: 160px; height: 210px; display: inline-block;}
  }
  @media (min-width: 960px) and (max-width: 1060px){
   #wrap {width: 100%;}
   a {display: block;}
   section img {width: 180px; height: 160px; display: inline-grid;}
  }
  @media (min-width: 720px) and (max-width: 960px){
   #wrap {width: 100%;}
   a {display: block;}
   section img {width: 220px; height: 105px; display: inline-grid;}
  }
   @media (min-width: 480px) and (max-width: 720px){
   #wrap {width: 100%;}
   a {display: block;}
   section img {width: 150px; height: 105px; display: inline-grid;}
  }
  @media (min-width: 0px) (max-width: 480px){
   #wrap {width: 100%;}
   header {height: 300px;}
   aside {float: none; width: 100%; height: 300px;}
   section {float: none; width: 100%; height: 300px;}
   section img {width: 150px; height: 100px; display: inline-grid;}
  }
